.transactions {
  width: 100%;
  height: 93%;
  overflow-y: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.transaction {
  width: 80%;
  height: auto;
  box-shadow: 0px 3px 10px rgba(250, 250, 250, 0.4);
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.infoDiv {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.info {
}

.label {
  color: teal;
  font-size: 17px;
  margin-right: 5px;
  font-weight: bold;
}

.value {
  color: whitesmoke;
  font-size: 17px;
}
